<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="https://www.linkedin.com/in/saharmostafa/">CV</a></li>
	        		<li><a href="http://magic-days.blogspot.com/search/label/Poems">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sahar.mostafa@gmail.com">email</a></li>
	        		<li><a href="https://github.com/smostaf">github.com/smostaf</a></li>
				</ul>
			</footer>
		</body>
	</html>
